/* Reset Geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #161616, #2D2D2D);
  color: #fff;
  height: 100vh;
  overflow-x: hidden;
}

/* Barra de Menu */

.barra-de-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* backgroud? rgba(0, 0, 0, 0.7); */
  background-color: lightblue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FAF33E;
  text-transform: uppercase;
  animation: glow 2s infinite alternate;
}